/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TODO ここまで css リセット */

body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  position: fixed;
  background-color: rgba(21, 20, 27, 0.9);
  z-index: 2;
}

header a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.header_contents {
  width: 80%;
  margin: 0 auto;
  padding: 5px 0;
}

.header_contents ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_contents li {
  margin: 10px 30px;
}
.header_contents li a {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  padding: 5px 0;
  font-size: 1.2rem;
}
.header_contents li a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #17a4f1;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.header_contents li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

/* TODO ここまで header */

.top {
  background-color: #15141b;
}

.top_contents {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.top_contents_left {
  width: 50%;
}

.top_contents_left div {
  margin-top: 10%;
  margin-bottom: 15%;
}

.top_contents_left h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin: 20px 0;
}

.top_contents_left h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #17a4f1;
}

.top_contents_left p {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px;
}

.top_contents_left a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #17a4f1;
  text-decoration: none;
  transition: all 0.3s ease;
}
.top_contents_left a:hover {
  background-color: #17a4f1;
}

.top_contents_right {
  width: 50%;
}
.top_contents_right img {
  width: 100%;
}

.division_top {
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 100%, 100% 0, 0 0);
  background-color: #15141b;
  height: 50px;
}

/* TODO ここまで top */

.about {
  background-color: #fff;
  color: #000;
}

.about_contents {
  width: 80%;
  max-width: 1280px;
  margin: 5% auto;
}

.contents_title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.about_contents_flex {
  display: flex;
}

.about_contents_left {
  width: 30%;

}
.about_contents_left img {
  width: 60%;
  margin: 0 15% 0 25%;
}

.about_contents_right {
  width: 70%;
}
.about_contents_right p {
  margin-right: 20%;
  font-size: 1.1rem;
  line-height: 2rem;
}

.division_about {
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  background-color: #eee;
  height: 50px;
}

/* TODO ここまでが about */

.skill {
  background-color: #eee;
}

.skill_area {
  width: 80%;
  max-width: 1280px;
  padding: 5% 0;
  margin: 0 auto;
}

.skill_contents {
  padding-top: 30px;
  display: flex;
}

.skill_block {
  width: 32%;
  background-color: #15141b;
  color: #fff;
  border-radius: 5px;
}
.skill_block:hover {
  background: -moz-linear-gradient(65deg, #15141b, #17a4f1);
  background: -webkit-linear-gradient(65deg, #15141b, #17a4f1);
  background: linear-gradient(25deg, #15141b, #17a4f1);
}
.skill_block:first-child {
  margin-right: 2%;
}
.skill_block:last-child {
  margin-left: 2%;
}
.skill_description {
  padding: 0 4% 4%;
}
.skill_description h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1%;
  line-height: 2.2rem;
}
.skill_description h3 {
  font-size: 1.0rem;
  margin-bottom: 5%;
}
.skill_description p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.skill_description .ruby,
.skill_description .python {
  margin-top: 3.2rem;
}

.skill_icon {
  width: 100%;
}
.skill_icon div {
  width: 100px;
  margin: 5% auto;
}
.icon_double_last {
  padding-left: 50px;
}
.icon_double {
  width: 50px;
  height: 50px;
  display: block;
}
.icon_standard {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 5% auto;
  display: block;
}

.division_skill {
  background-color: #eee;
}

.division_skill div {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 0 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 0 0);
  background-color: #fff;
  height: 50px;
}

/* TODO ここまでが skill */

.division_contact {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);
  background-color: #15141b;
  height: 50px;
}

.contact {
  background-color: #fff;
}

.contact_contents {
  width: 40%;
  max-width: 1280px;
  margin: 5% auto;
}

.contact_form {
  width: 100%;
}
.contact_form label {
  font-size: 0.8rem;
}
.contact_contents p {
  margin-bottom: 4%;
  line-height: 1.2rem;
}
.input_area {
  margin-bottom: 4%;
}
.input_area label:first-child {
  margin-right: 4%;
}
.input_area label {
  width: 48%;
  border: none;
  display: inline-block;
  letter-spacing: 0;
  font-size: 0.8rem;
}
.contact_form input {
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  margin-top: 2px;
}
.contact_form textarea {
  width: 100%;
  font-size: 1.1rem;
  margin-top: 2px;
}
.input_area {
  display: flex;
}

.contact_submit_button {
  width: 30%;
  height: 2rem;
  color: #fff;
  font-size: 1.1rem;
  background-color: #15141b;
  border: none;
  margin: 4% auto 0;
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.contact_submit_button:hover {
  background-color: #17a4f1;
  transition: all 0.3s ease;
}

/* ここまでが contact */

.footer {
  background-color: #15141b;
}
.footer p {
  font-size: 1.1rem;
  color: #fff;
  padding: 15px;
  text-align: center;
}
